<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="ApiLogger" xsi:type="File" fileName="C:\Temp\Api\Api.${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
      <target name="SchedulerLogger" xsi:type="File"  fileName="C:\Temp\Scheduler\Api.${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" /> />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="ApiLogger" >
        <filters>
          <when condition="equals(logger,'SchedulerLogger')" action="Ignore" />
        </filters>
      </logger>
      <logger name="SchedulerLogger" minlevel="Info" writeTo="SchedulerLogger" />
    </rules>
</nlog>